<div
  class="section">
  <div
    class="flex justify-between">
    <h1
      class="text-[36px]">Hi {{ customer.first_name }}</h1>
    <a
      href="/account/logout/"
      class="logout text-[16px]">Logout</a>
  </div>
  <ul
    class="account_navigation">
    <li
      class="li_account {% if selected == 'account' %} active {% endif %}">
      <a
        href="/account">
        <div
          class="icon icon_account"></div>
        <h3>ACCOUNT</h3>
      </a>
    </li>
    <li
      class="li_orders">
      <a
        href="#">
        <div
          class="icon icon_orders"></div>
        <h3>ORDERS</h3>
      </a>
    </li>
    <li
      class="li_addresses">
      <a
        href="/account/addresses">
        <div
          class="icon icon_addresses {% if selected == 'addresses' %} active {% endif %}"></div>
        <h3>ADDRESSES</h3>
      </a>
    </li>
    <li
      class="li_wishlist">
      <a
        href="#">
        <div
          class="icon icon_wishlist"></div>
        <h3>WISHLIST</h3>
      </a>
    </li>
  </ul>
</div>