<div class="ajax_cart fixed w-full h-full left-[0] top-[0] bg-black bg-opacity-40 z-[2]">
  <div class="absolute top-[0] right-[0] w-full h-full max-w-[491px] bg-[#FBF9F9]">
    <div class="flex items-center justify-between h-[68px] px-[16px] border-b border-[#E6DFDB]">
      <h2>cart 2 items</h2>
      <div class="ajax_cart_close">X</div>
    </div>
    <div class="absolute w-full top-[68px] left-[0px] h-[calc(100%-250px)]">
      {{ cart.item_count }}
      <div class="ajax_cart_products border-b border-[#E6DFDB] p-[16px]"></div>
      <div class="ajax_cart_recommended border-b border-[#E6DFDB] p-[16px]"></div>
    </div>
    <div class="absolute flex flex-col py-[24px] px-[16px] justify-between w-full left-0 bottom-[0] h-[182px] bg-white">
      <div class="flex justify-between">
        <h2>Estimated total:</h2>
        <h2>101,80 Eur</h2>
      </div>
      <h3>shipping and discounts calculated at checkout</h3>
      <button class="flex justify-center items-center bg-[#CCAC71] text-white w-full h-[56px] rounded-[24px]">CHECKOUT</button>
    </div>
  </div>
</div>