{%- assign t = template | split: '.' | first -%}
<nav
  class="breadcrumbs p-4"
  role="navigation"
  aria-label="breadcrumbs">
  <ul>
    <li class="breadcrumb">
      <a href="/">Home</a>
    </li>
  </ul>
</nav>