<div class="login_popup fixed top-[0] left-[0] bg-black bg-opacity-5 h-full w-full flex items-center justify-center px-[16px] py-[24px] z-[3]">
  <div class="w-full h-full flex flex-col max-h-[674px] max-w-[458px] bg-neutral rounded-[24px] px-[16px] py-[24px] shadow-[0px_0px_34px_9px_rgba(0,0,0,0.3)]">
    <div class="flex justify-between items-center mb-[16px]">
      <h2 class="subtitle-1-bold text-taupe">We’re glad you like it!</h2>
      <h3 class="body-s-underline text-taupe cursor-pointer">Close</h3>
    </div>
    <h3 class="body-m text-taupe mb-[40px]">{{ template }}To create your wishlist with a product, you must login or create new account.</h3>
    {% form 'customer_login' %}
      <div class="flex flex-col gap-[16px]">
        {{ form.errors | default_errors }}

        <div class="email w-full">с
          <input
            class="body-m text-taupe-50 flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px]"
            type="email"
            name="customer[email]"
            placeholder="Email">
        </div>

        <div class="password w-full">
          <input
            class="body-m text-taupe-50 flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px]"
            type="password"
            name="customer[password]"
            placeholder="Password">
        </div>

        <h2 class="body-s-semibold-underline text-taupe recover_password_trigger underline self-end cursor-pointer">Forgot password?</h2>

        <h2 class="body-m text-taupe my-[8px]">by logging in, you agree to our
          <a class="body-m-semibold-underline" href="#">terms</a>, and
          <a class="body-m-semibold-underline" href="#">privacy policy</a>
        </h2>

        <div class="submit">
          <input
            type="submit"
            value="LOGIN"
            class="CTA flex justify-center items-center w-full bg-ecru rounded-[18px] h-[56px] text-white cursor-pointer">
        </div>
      </div>
    {% endform %}
    {% if shop.customer_accounts_enabled %}
      <div class="flex flex-col items-center">
        <h2 class="body-m text-taupe-200 ">Don't have an account yet?</h2>
        <a class="body-m-semibold-underline text-taupe-200 underline" href="{{ routes.account_register_url }}">Create an account</a>
      </div>
    {% endif %}
    {% render "recover_password_form" %}
  </div>
</div>