{% if show_variant_price.compare_at_price != null %}
  <span class="body-s-semibold text-taupe">{{ show_variant_price.price | money }}</span>
  <span class="body-s text-taupe-40 line-through pl-[8px]">{{ show_variant_price.compare_at_price | money }}
  </span>
  <span class="body-s-semibold pl-[8px] text-orange-x">{{ show_variant_price.compare_at_price | minus: show_variant_price.price | times: 100.0 | divided_by: show_variant_price.compare_at_price | round: 2 }}% OFF</span>
{% else %}
  <span class="body-s-semibold text-taupe">{{ show_variant_price.price | money }}</span>
{% endif %} 