{% if show_variant_price.compare_at_price != null %}
  <span>{{ show_variant_price.price | money }}</span>
  <span class="line-through">{{ show_variant_price.compare_at_price | money }}</span>s
  <span>{{ show_variant_price.compare_at_price | minus: show_variant_price.price | times: 100.0 | divided_by: show_variant_price.compare_at_price | round: 2 }} % OFF</span>
{% else %}
  <span>{{ show_variant_price.price | money }}</span>
{% endif %}