<div class="recover_password_form fixed bg-[rgba(0,0,0,0.5)] top-[0] left-[0] z-[2]">
  {% form 'recover_customer_password' %}
    <div class="flex justify-between">
      <h2>Reset Password</h2>
      <h2 class="recover_password_close">Close</h2>
    </div>
    <div class="email">
      <input
        type="email"
        name="email"
        placeholder="Email">
    </div>

    <div class="submit">
      <input type="submit" value="Submit">
    </div>
    {{ form.errors | default_errors }}
  {% endform %}
</div>