<div class="recover_password_form fixed bg-[rgba(0,0,0,0.5)] top-[0] left-[0] z-[2]">
  <h2 class="recover_password_close">Close</h2>
  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>

    <div class="submit">
      <input type="submit" value="Submit">
    </div>
  {% endform %}
</div>