<div class="recover_password_form fixed w-full h-full bg-[rgba(0,0,0,0.5)]">
  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>

    <div class="submit">
      <input type="submit" value="Submit">
    </div>
  {% endform %}
</div>