<div class="recover_password_form fixed bg-[rgba(0,0,0,0.5)] top-[0] left-[0] z-[2] flex justify-center items-center p-4">
  {% form 'recover_customer_password' %}
    <div class="flex flex-col m-4 w-full max-w-[458px] bg-[#FBF9F9] rounded-[24px] py-6 px-4 gap-4">
      <div class="flex justify-between items-center">
        <h2 class="text-[#54443B] text-[24px]">Reset Password</h2>
        <h2 class="recover_password_close text-[16px] underline">Close</h2>
      </div>
      <h2>Enter the email address used for your account below and we will send you a link to reset your password.</h2>
      <div class="email">
        <input
          class="w-full py-[14.5px] px-[16px] rounded-[12px] border border-[#EAE2DB]"
          type="email"
          name="email"
          placeholder="Email">
      </div>
      <div class="submit w-full">
        <input
          class="w-full"
          type="submit"
          value="SEND REQUEST">
      </div>
    </div>
    {{ form.errors | default_errors }}
  {% endform %}
</div>