<div class="search_container fixed z-[3] w-full left-[0] shadow-[0px_15px_10px_-15px_rgba(0,0,0,0.3)]">
  <form class="search_products relative max-w-[1440px] flex gap-[16px] items-center relative z-[2] w-full pb-[16px] pt-[22px] px-[16px] md:px-[64px] mx-auto bg-white" action="{{ routes.search_url }}">
    <input
      class="search_input w-full pl-[44px] h-[56px] top-[8px] border border-ecru-x rounded-[12px]"
      type="text" 
      placeholder="search"
      name="q"
      value="{{ search.terms | escape }}" />
      <h2 class="search_close body-m-semibold-underline text-taupe-x cursor-pointer shrink-0 underline">
        close
      </h2>
  </form>
  {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
  <div class="absolute top-[0] left-0 w-full h-full bg-white z-[1] pt-[76px] overflow-auto">
    <div class="flex gap-[16px] mb-[16px] mt-[20px] max-w-[1440px] my-[16px] px-[16px] md:px-[64px] mx-auto">
      <h2 class="search_text body-m-semibold text-taupe-x">Trending products:</h2>
      <h2 class="see_all_results cursor-pointer body-m-semibold-underline text-taupe-x">see all results</h2>
    </div>
    <h2 class="see_all_results CTA CTA_secondary absolute left-[calc(50%-56px)] bottom-[18px] text-ecru cursor-pointer w-[113px] h-[56px] flex items-center justify-center rounded-[18px] border border-ecru bg-white z-[1]">SHOP ALL</h2>
    <div class="search_results flex flex-col sm:flex-row px-[16px] gap-[18px] sm:flex-wrap justify-center"></div>
    <div class="search_trending_products section flex flex-col sm:flex-row px-[16px] gap-[16px] sm:flex-wrap justify-center active">
      {% for product in settings.trending_products %}
        <div class="w-full max-w-[358px] sm:max-w-[316px]">
          {% include 'product_card' with product, wishlist_array %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>