<div class="search_container fixed z-[3] w-full top-[0] left-[0] shadow-[0px_0px_34px_9px_rgba(0,0,0,0.3)]">
  <form class="search_products relative fixed z-[2] w-full h-[60px] border-b border-ecru-x bg-white" action="{{ routes.search_url }}">
    <input
      class="search_input absolute pl-[44px] h-[44px] w-[200px] top-[8px] left-[16px] w-[calc(100vw-68px)] border border-ecru-x rounded-[12px]"
      type="text" 
      placeholder="search"
      name="q"
      value="{{ search.terms | escape }}" />
    <button class="absolute top-[76px] right-[16px] underline">see all results</button>
  </form>
  <div class="search_close z-[2] cursor-pointer">
    <span></span>
    <span></span>
  </div>
  {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
  <div class="fixed top-[0] left-0 w-full h-full bg-neutral z-[1] pt-[76px] overflow-auto">
    <h2 class="search_text mb-[16px]">Trending products:</h2>
    <div class="search_results flex flex-col sm:flex-row px-[16px] gap-[18px] sm:flex-wrap justify-center"></div>
    <div class="search_trending_products flex flex-col sm:flex-row px-[16px] gap-[18px] sm:flex-wrap justify-center active">
      {% for product in settings.trending_products %}
        <div class="w-full max-w-[358px] sm:max-w-[316px]">
          {% include 'product_card' with product, wishlist_array %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>