<h2 class="text-center text-[32px] sm:text-[48px] mb-[48px] w-auto">
  {% if title_image != null %}
    <span class="w-[50px] h-[50px]">
      <img
        class="h-[42px] inline-block"
        src="{{ title_image | img_url: 'master'}}"
        alt="">
    </span>
  {% endif %}
  {% if title_text != null %}
    {{ title_text }}
  {% endif %}
  {% if title_image != null %}
    <span class="w-[50px] h-[50px]">
      <img
        class="h-[42px] inline-block"
        src="{{ title_image | img_url: 'master'}}"
        alt="">
    </span>
  {% endif %}
</h2>