<h2 class="h2 text-center text-taupe mb-[40px] w-auto">
  {% if title_image != null %}
    <span class="w-[35px] h-[35px]">
      <img
        class="h-[42px] inline-block"
        src="{{ title_image | img_url: 'master' }}"
        alt="">
    </span>
  {% endif %}
  {% if title_text != null %}
    {{ title_text }}
  {% endif %}
  {% if title_image != null %}
    <span class="w-[35px] h-[35px]">
      <img
        class="h-[42px] inline-block"
        src="{{ title_image | img_url: 'master'}}"
        alt="">
    </span>
  {% endif %}
</h2>