<div class="fixed top-[0] left-[0] h-full w-full flex items-center justify-center px-[16px] py-[24px] z-[3]">
  <div class="w-full h-full flex flex-col max-h-[674px] max-w-[458px] bg-neutral rounded-[24px] px-[16px] py-[24px] shadow-[0px_0px_34px_9px_rgba(0,0,0,0.3)]">
    <div class="flex justify-between items-center mb-[16px]">
      <h2 class="subtitle-1-bold text-taupe">We’re glad you like it!</h2>
      <h3 class="body-s-underline text-taupe">Close</h3>
    </div>
    <h3 class="body-m text-taupe mb-[40px]">To create your wishlist with a product, you must login or create new account.</h3>
  </div>
</div>