<div class="fixed top-[0] left-[0] bg-black bg-opacity-5 h-full w-full flex items-center justify-center px-[16px] py-[24px]">
  <div class="w-full h-full max-h-[674px] max-w-[458px] bg-neutral rounded-[24px]"></div>
</div>