<div class="bg-blue-500">
    <div class="the4-toolkit-wishlist " style="--the4-toolkit-wishlist-icon-color:#B50000;
        --the4-toolkit-wishlist-icon-added-color:#FF0000;
        --the4-toolkit-wishlist-text-color:#000;
        --the4-toolkit-wishlist-added-text-color:#333; 
        --the4-icon-size:14px;
        --the4-text-size:15px;
        ">
        <a class="the4-toolkit-wishlist-action the4-toolkit-wishlist-action-add" href="/the4-wishlist" style="display: flex;justify-content: center;gap: 5px;align-items: center;" data-product-id="8473614451000" data-product-handle="gemstone" data-page-type="product" data-path="/products/gemstone">
            <!-- BEGIN app snippet: icon_heart -->
            <svg xmlns="http://www.w3.org/2000/svg" class="the4-wishlist-icon-added" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="the4-wishlist-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            <!-- END app snippet -->
            <span class="the4-toolkit-wishlist-added-text">View your wishlist</span>
            <span class="the4-toolkit-wishlist-add-text">Add to wishlist</span>
        </a>
    </div>
</div>