<div class="px-[16px] w-full max-w-[428px] flex flex-col items-center mx-auto">
  <h1 class="text-[36px]">Login</h1>
  {% form 'customer_login' %}
    {{ form.errors | default_errors }}

    <div class="email w-full">
      <input
        class="w-full"
        type="email"
        name="customer[email]"
        placeholder="Email">
    </div>

    <div class="password w-full">
      <input
        class="w-full"
        type="password"
        name="customer[password]"
        placeholder="Password">
    </div>

    <a class="text-[18px]" href="{{ routes.account_recover_url }}">Forgot password?</a>

    <h2 class="text-[18px]">by logging in, you agree to our
      <a href="#">terms</a>, and
      <a href="">privacy policy</a>
    </h2>

    <div class="submit">
      <input type="submit" value="Sign in">
    </div>
  {% endform %}
  <div id="test_submit">test submit</div>
  Recover Customer Password
  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>

    <div class="submit">
      <input type="submit" value="Submit">
    </div>
  {% endform %}

  {% if shop.customer_accounts_enabled %}
    <div class="flex flex-col">
      <h2 class="text-[18px]">Don't have an account yet?</h2>
      <a class="text-[18px]" href="{{ routes.account_register_url }}">Create an account</a>
    </div>
  {% endif %}
</div>