<!-- You should include the order object in your customers/account template or a section inside of the template. -->
<div class="w-full mt-250px flex flex-col border border-black flex justify-center items-center">
  <h1 class="m-auto text-[50px] text-center">This is order page</h1>
</div>