<div class="w-full mt-250px flex flex-col border border-black flex justify-center items-center">
  <h1 class="m-auto text-[50px] text-center">This is reset password page</h1>
  {%- form 'reset_customer_password' -%}
    {{ form.errors | default_errors }}

    <div class="password">
      <input
        type="password"
        name="customer[password]"
        id="password">
      <label for="password">Password</label>
    </div>

    <div class="password_confirm">
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation">
      <label for="password_confirmation">Confirm password</label>
    </div>

    <button>Reset password</button>
  {%- endform -%}

</div>