<div class="w-full border-ecru {% if section.settings.b_top == true %} border-t {% endif %} {% if section.settings.b_bot == true %} border-b {% endif %}">
  <div class="container sm:max-w-[82%] py-[64px] sm:py-[80px] mx-[24px] sm:mx-auto w-fit ">
    <h2 class="text-center caption text-taupe">
      {% for block in section.blocks %}
        {% if block.settings.image_for_text != null %}
          <span class="border border-taupe-20 rounded-[20px] px-[14px] inline-block">
            <h3 class="body-m text-taupe">{{ block.settings.text }}</h3>
            <img
              class="h-[25px] w-[26px] inline-block"
              src="{{ block.settings.image_for_text | img_url: 'master'}}"
              alt="">
          </span>&nbsp
        {% else %}
          <h3 class="body-m text-taupe">{{ block.settings.text }}</h3>
        {% endif %}
      {% endfor %}
    </h2>
  </div>
</div>
{% schema %}
  {
    "name": "Paragraph",
    "settings": [
      {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      }, {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Text Snippet",
        "settings": [
          {
            "type": "textarea",
            "label": "Text",
            "id": "text"
          }, {
            "type": "image_picker",
            "label": "Image for text",
            "id": "image_for_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Paragraph"
      }
    ]
  }
{% endschema %}