<div class="section">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
</div>s
{% schema %}
  {
    "name": "Image, Title, Paragraph",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Image, Title, Paragraph",
        "settings": [
          {
            "type": "checkbox",
            "label": "Display Image on Left Side",
            "id": "image_left"
          }, {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          }, {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, {
            "type": "text",
            "label": "Paragraph",
            "id": "paragraph"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Image, Title, Paragraph"
      }
    ]
  }
{% endschema %}