<div class="section mb-[64px] video_feed">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}

  <div class="swiper video_feed_swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide rounded-[16px]">
          <div class="video_feed_video w-full h-full">
            <div class="video_background"></div>
            {{ block.settings.video | video_tag: image_size: 'master', autoplay: false, loop: true, preload: "none" }}
            <div class="video_play_button video_play_gold"></div>
            <h2 class="close_video">close</h2>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Video Feed",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Video",
        "settings": [
          {
            "type": "video",
            "label": "Video",
            "id": "video"
          }, {
            "type": "url",
            "label": "Video Url",
            "id": "video_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Video Feed"
      }
    ]
  }
{% endschema %}