<div class="section">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
  {% for block in section.blocks %}
    checkbox {{ block.image_right }}
    <div class="flex flex-col md:flex-row w-full border border-[#E6DFDB] rounded-[20px]">
      <div class="w-full md:w-[491px]  md:rounded-[240px] overflow-hidden">
        {% if block.settings.image != null %}
          <div class="relative w-full h-[570px] sm:h-[671px] mb-[64px]">
            <img
              class="relative sm:absolute top-0 left-0 w-full h-[356px] sm:h-full object-cover mb-6 sm:mb-[0]"
              src="{{ block.settings.image | img_url: 'master'}}"
              alt="">
          {% endif %}
          <div class="flex flex-col text-center md:text-left bg-white rounded-[120px] md:rounded-[0] md:bg-[none]">
            <h2 class="text-[24px]">{{ block.settings.title }}
            </h2>
            <p class="text-[18px]">{{ block.settings.paragraph }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Image, Title, Paragraph",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Image, Title, Paragraph",
        "settings": [
          {
            "type": "checkbox",
            "label": "Display Image on Right Side",
            "id": "image_right",
            "default": false
          }, {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          }, {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, {
            "type": "text",
            "label": "Paragraph",
            "id": "paragraph"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Image, Title, Paragraph"
      }
    ]
  }
{% endschema %}