<div class="section pt-[48px] lg:pt-[72px] pb-[46px] lg:pb-[15px]">
  <div class="flex flex-col items-center justify-center gap-4 mb-[40px]">
    <h2 class="h2 text-center flex-wrap">
      {% if section.settings.section_title != null %}
        {{ section.settings.section_title }}
      {% endif %}
    </h2>
    <a class="CTA uppercase text-ecru border border-ecru w-[162px] h-[56px] flex items-center justify-center rounded-[20px]" href="{{ settings.instagram_link }}">INSTAGRAM</a>
  </div>
  <div class="swiper instagram_feed_swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide relative flex">
          <a href="{{block.settings.link_url}}" class="relative w-full h-full">
            {% if block.settings.image != null %}
              <img
                class="w-full h-full object-cover"
                src="{{ block.settings.image | img_url: 'master'}}"
                alt="">
              <div class="instagram_feed_logo"></div>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Instagram Feed",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Image with Link",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          }, {
            "type": "url",
            "label": "Link URL",
            "id": "link_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Instagram Feed"
      }
    ]
  }
{% endschema %}