{% if section.settings.selected_product != empty %}
  <h2>product selected</h2>
{% else %}
  <h2>Product not selected</h2>
{% endif %}
{% include "product_recommendations" %}

{% schema %}
  {
    "name": "Product Recommendations",
    "settings": [
      {
        "label": "Product",
        "type": "product",
        "id": "selected_product"
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Product Recommendations"
      }
    ]
  }
{% endschema %}