<div class="section mb-[64px] relative pt-[70px] pb-[56px] border-ecru {% if section.settings.b_top == true %} border-t {% endif %} {% if section.settings.b_bot == true %} border-b {% endif %}">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}

  {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
  <div class="swiper best_selling_swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign sorted_products = block.settings.selected_collection.products | sort: "best-selling" %}
        {% for product in sorted_products limit: block.settings.products_number %}
          <div class="swiper-slide">
            {% include 'product_card' with product, wishlist_array %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Best Selling Products",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }, {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      }, {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Collections",
        "settings": [
          {
            "type": "collection",
            "label": "Collection",
            "id": "selected_collection"
          }, {
            "type": "number",
            "label": "Number of products shown from collection",
            "id": "products_number"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Best Selling Products"
      }
    ]
  }
{% endschema %}