<div class="w-full">
  <div class="section pt-[72px] pb-[56px]">
    {% assign title_text = section.settings.section_title %}
    {% assign title_image = section.settings.title_image %}
    {% include 'section_title' with title_text, title_image %}

    {% assign number = section.settings.products_number %}
    {% assign recommendation_type = section.settings.recommendation_type %}

    {% comment %} 
    {% if section.settings.selected_product != empty %}
    {% assign product = section.settings.selected_product %}
    {% include "product_recommendations" with product, number, recommendation_type %}
    {% else %}
    {% endif %}
    {% endcomment %}
    {% include "product_recommendations" with number, recommendation_type %}
  </div>
</div>
{% schema %}
  {
    "name": "Product Recommendations",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      },
      {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      },
      {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      },
      {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }, {
        "label": "Selected Product (leave blank for context product)",
        "type": "product",
        "id": "selected_product"
      }, {
        "label": "Number of Recommended Products",
        "type": "number",
        "default": 4,
        "id": "products_number"
      }, {
        "label": "Recommendation Type",
        "type": "select",
        "default": "related",
        "id": "recommendation_type",
        "options": [
          {
            "value": "related",
            "label": "Related"
          }, {
            "value": "complementary",
            "label": "Complementary"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Product Recommendations"
      }
    ]
  }
{% endschema %}