<div class="section">
  {% if section.settings.selected_product != empty %}
    {% assign product = section.settings.selected_product %}
    {% include "product_recommendations" with product %}
  {% else %}
    {% include "product_recommendations" %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Product Recommendations",
    "settings": [
      {
        "label": "Product",
        "type": "product",
        "id": "selected_product"
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Product Recommendations"
      }
    ]
  }
{% endschema %}