<style>
  h1 {
    font-size: 50px;
    color: black;
  }
</style>
<div class="w-full bg-white">
  <div class="section">
    <div class="collection_description">
      {{ collection.description }}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Introduction",
    "settings": [],
    "presets": [
      {
        "category": "block",
        "name": "Collection Introduction"
      }
    ]
  }
{% endschema %}