  <div class="section py-[32px] sm:py-[56px] mb-[0] sm:mb-[41px]">
    {% assign title_text = section.settings.section_title %}
    {% assign title_image = section.settings.title_image %}
    {% include 'section_title' with title_text, title_image %}
    <div class="w-full flex flex-col gap-[16px] sm:gap-[24px] relative top-[-9px] sm:top-[0]">
      {% for block in section.blocks %}
        {% assign even_odd = forloop.index | modulo: 2 %}
        <div class="flex flex-col {% if even_odd == 0 %}sm:flex-row{% else %}sm:flex-row-reverse{% endif %} w-full border border-taupe-20 rounded-[20px] overflow-hidden">
          <div class="w-full sm:w-[391px] md:w-[441px] lg:w-[491px] h-[420px] sm:h-[668px] sm:rounded-[240px] overflow-hidden shrink-0 border border-taupe-20">
            {% if block.settings.image != null %}
              <img
                class="w-full h-full object-cover"
                src="{{ block.settings.image | img_url: 'master'}}"
                alt="">
            {% endif %}
          </div>
          <div class="block_image_title_paragraph relative flex flex-col border sm:border-0 {% if even_odd == 0 %}sm:border-l{% else %}sm:border-r{% endif %} border-taupe-20 gap-[0] sm:gap-[16px] text-center sm:text-left bg-white rounded-[120px] sm:rounded-[0] sm:bg-transparent pb-[104px] pt-[48px] sm:pb-[48px] px-[24px] sm:px-[64px] justify-center">
            <h2 class="subtitle-2 p-[16px] sm:p-[0] text-taupe">{{ block.settings.title }}</h2>
            <div class="list_item_text py-[16px] sm:py-[0] overflow-hidden">
              <p class="body-m text-taupe-200">{{ block.settings.paragraph }}</p>
            </div>
            <div class="absolute h-[40px] w-[108px] flex items-center justify-center left-[50%] translate-x-[-50%] bottom-[48px]">
              <h3 class="read_more body-m text-taupe underline cursor-pointer"></h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% schema %}
  {
    "name": "Image, Title, Paragraph",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Image, Title, Paragraph",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          }, {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, {
            "type": "text",
            "label": "Paragraph",
            "id": "paragraph"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Image, Title, Paragraph"
      }
    ]
  }
{% endschema %}