<div class="container sm:max-w-[72.3%] py-[64px] sm:py-[80px] mx-[24px] sm:mx-auto w-fit border-ecru {% if section.settings.b_top == true %} border-t {% endif %} {% if section.settings.b_bot == true %} border-b {% endif %}">
  <h2 class="text-center caption text-taupe">
    {% for block in section.blocks %}
      {% if block.settings.image_for_text != null %}
        <span class="border border-[#D1BEB1] rounded-[24px] pl-[16px] pt-[6px] pb-[10px] inline-block">
          {{ block.settings.text }}
          <img
            class="h-[25px] w-[26px] inline-block"
            src="{{ block.settings.image_for_text | img_url: 'master'}}"
            alt="">
        </span>&nbsp
      {% else %}
        {{ block.settings.text }}
      {% endif %}
    {% endfor %}
  </h2>
</div>

{% schema %}
  {
    "name": "Paragraph",
    "settings": [
      {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      }, {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Text Snippet",
        "settings": [
          {
            "type": "textarea",
            "label": "Text",
            "id": "text"
          }, {
            "type": "image_picker",
            "label": "Image for text",
            "id": "image_for_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Paragraph"
      }
    ]
  }
{% endschema %}