<div class="section">
  {% if section.settings.selected_product != empty %}
    {% assign product = section.settings.selected_product %}
    {% include "product_recommendations" with product %}
  {% else %}
    {% include "product_recommendations" %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Product Recommendations",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      },
      {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      },
      {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      },
      {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }, {
        "label": "Selected Product (leave blank for context product)",
        "type": "product",
        "id": "selected_product"
      }, {
        "label": "Number of Recommended Products",
        "type": "number",
        "default": 4,
        "id": "products_number"
      }, {
        "label": "Recommendation Type",
        "type": "select",
        "default": "related",
        "id": "recommendation_type",
        "options": [
          {
            "value": "related",
            "label": "Related"
          }, {
            "value": "complementary",
            "label": "Complementary"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Product Recommendations"
      }
    ]
  }
{% endschema %}