<div class="w-full sm:bg-white pb-[16px] mb-[73px] border-b border-ecru-x border-b-[0]">
  <div class="section">
    <div class="py-[16px]">
      {% render 'breadcrumb' %}
    </div>
    <div class="collection_description pt-[25px] sm:pt-[56px]">{{ collection.description }}</div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Introduction",
    "settings": [],
    "presets": [
      {
        "category": "block",
        "name": "Collection Introduction"
      }
    ]
  }
{% endschema %}