{% if section.blocks.size > 1 %}
  <div class="section pt-[88px] pb-[112px]">
    <div class="flex flex-col lg:flex-row w-full border border-taupe-20 bg-white rounded-[20px]">
      <div class="w-1/2 px-[24px] py-[42px] lg:border-r border-taupe-20">
        <div class="sticky top-[45vh] caption text-center text-taupe text-[FF0000]">
          {% if section.settings.section_title != null %}
            {{ section.settings.section_title }}
          {% endif %}
        </div>
      </div>
      <div class="flex flex-col w-1/2 py-[42px] px-[24px] border-b lg:border-r border-taupe-20 gap-[32px]">
        {% for block in section.blocks %}
          <div class="flex flex-col lg:flex-row w-full min-h-[201px] justify-center gap-[16px] items-center">
            <div class="h-[185px] w-[142px] rounded-[60px] border border-taupe-20 overflow-hidden">
              <img
                class="w-full h-full object-cover"
                src="{{ block.settings.ingridient_image | img_url: 'master'}}"
                alt="">
            </div>
            <div class="flex flex-col gap-[8px] max-w-[450px] min-h-[170px] relative overflow-hidden">
              <h2 class="h8 text-taupe">{{ block.settings.ingridient_title }}</h2>
              <h3 class="body-s text-taupe-200 text-center max-h-[96px]">{{ block.settings.ingridient_description }}</h3>
              <div class="absolute h-[56px] bg-[#FBF9F9] flex items-center justify-center left-[0] bottom-[-15.5px]">
                <h3 class="body-m text-taupe underline">Read more +</h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Product Key Ingridients",
    "settings": [
      {
        "type": "text",
        "label": "Ingridients Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "Ingridient",
        "name": "Ingridient",
        "settings": [
          {
            "type": "text",
            "label": "Ingridient_title",
            "id": "ingridient_title"
          }, {
            "type": "text",
            "label": "Ingridient Description",
            "id": "ingridient_description"
          }, {
            "type": "image_picker",
            "label": "Ingridient Image",
            "id": "ingridient_image"
          }
        ]
      }
    ]

  }
{% endschema %}