{% if section.blocks.size > 0 %}
  <div class="section mt-[64px] mb-[48px]">
    {% assign title_text = section.settings.section_title %}
    {% assign title_image = section.settings.title_image %}
    {% include 'section_title' with title_text, title_image %}
    <div class="flex flex-wrap gap-x-[24px] gap-y-[48px]">
      {% for block in section.blocks %}
        <div class="flex gap-[16px] items-center w-full max-w-[421px] min-h-[201px] py-[0] px-[0] sm:py-[8px] sm:px-[24px]">
          <div class="rounded-[60px] h-full w-[142px] overflow-hidden border border-[#E6DFDB] shrink-0">
            {% if block.settings.technology_image != null %}
              <img
                class="w-full h-full object-cover"
                src="{{ block.settings.technology_image | img_url: 'master'}}"
                alt="">
            {% endif %}
          </div>
          <h2 class="text-[22px]">{{ block.settings.technology_title }}</h2>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Product Technologies",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "Technology",
        "name": "Technology",
        "settings": [
          {
            "type": "text",
            "label": "Technology Ttle",
            "id": "technology_title"
          }, {
            "type": "image_picker",
            "label": "Technology Image",
            "id": "technology_image"
          }
        ]
      }
    ]
  }
{% endschema %}