{% if section.settings.pdf_url != null and section.settings.pdf_url != '' %}
  <div class="section pt-[24px] pb-[50px] lg:pt-[56px] lg:pb-[56px]">
    <div class="flex flex-col md:flex-row md:h-[668px] justify-between w-full border border-[#E6DFDB] rounded-[20px] overflow-hidden">
      <div class="w-full h-[420px] md:h-full">
        <img
          class="w-full h-full object-cover"
          src="{{ section.settings.background_image | img_url: 'master'}}"
          alt="">
      </div>
      <div class="flex flex-col justify-center items-center w-full md:w-[491px] h-[460px] md:h-full bg-white border border-[#E6DFDB] px-[19px] gap-[8px] rounded-[240px] shrink-0">
        <h2 class="h2 w-full text-center text-taupe max-w-[320px]">{{ section.settings.clinically_safe_title }}</h2>
        <a
          class="w-full flex justify-center gap-[8px] max-w-[320px]"
          href="{{ section.settings.pdf_url }}"
          target="_blank"
          rel="noopener noreferrer">
          <span class="pdf_icon w-[25px] h-[28px]"></span>
          <h3 class="body-m underline text-taupe-x">{{ section.settings.clinically_safe_text }}</h3>
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Clinically Safe Product",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "clinically_safe_title"
      }, {
        "type": "text",
        "label": "Section Text",
        "id": "clinically_safe_text"
      }, {
        "type": "image_picker",
        "label": "Background Image",
        "id": "background_image"
      }, {
        "type": "url",
        "label": "Url to pdf file",
        "id": "pdf_url"
      }
    ]
  }
{% endschema %}