<div class="w-full border border-black flex flex-col justify-center items-center py-[10vw] gap-5">
  <h1 class="m-auto text-[50px] text-center">This is collection page</h1>
  <h2>Collection name: {{ collection.title }}</h2>
  <h2>Products in collection:</h2>
  {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
  {% paginate collection.products by section.settings.product_pagination %}
    <div class="flex flex-row gap-[25px]">
      {% for product in collection.products %}
        {% include 'product_card' with product, wishlist_array %}
      {% endfor %}
    </div>
    <div class="pagination flex gap-2">
      {{ paginate | default_pagination }}
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "label": "Number of products to show per page",
        "id": "product_pagination",
        "default": 4
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ]
  }
{% endschema %}