<div class="section collection_page_listing">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
  {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
  {% paginate collection.products by section.settings.product_pagination %}
    <div class="flex flex-wrap gap-y-[32px] gap-x-[16px]">
      {% for product in collection.products %}
        <div class="w-[358px] sm:w-[316px]">
          {% include 'product_card' with product, wishlist_array %}
        </div>
      {% endfor %}
    </div>
    <div class="pagination flex gap-2">
      {{ paginate | default_pagination }}
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "label": "Number of products to show per page",
        "id": "product_pagination",
        "default": 4
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Must know facts",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, {
            "type": "text",
            "label": "Paragraph",
            "id": "paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}