<div class="section">
  <h1 class="m-auto text-[50px] text-center">Search</h1>
  {% if search.performed %}
  <h2>search results for</h2>
  <h2>terms: {{ search.terms | escape }}</h2>
  <h2>{{ search.results | size }} </h2>
  <h2>Results:</h2>
  {% for result in search.results %}
    <div class="flex flex-col sm:flex-row px-[16px] gap-[18px] sm:flex-wrap justify-center active">
        {% for product in settings.trending_products %}
            <div class="w-full max-w-[358px] sm:max-w-[316px]">
                {% include 'product_card' with product, wishlist_array %}
                </div>
            {% endfor %}
            </div>
    <h2>Object Typse: {{ result.object_type }}</h2>
        <h2>Object product? {% if  result.object_type == "product" %} true {% else %} false {% endif %}</h2>
  {%endfor%}
  {% else %}
  <h2>Start your search from the searchbar</h2>
{% endif %}
</div>
</div>