<div class="section">
  <h1 class="h1 text-taupe pt-[24px] sm:pt-[56px] pb-[24px] sm:pb-[8px]">Search</h1>
  {% if search.performed %}
    {% paginate search.results by section.settings.search_pagination %}
      <h2 class="body-m-semibold text-taupe pb-[16px] sm:pb-[72px]">search results for "{{ search.terms | escape }}" ({{ search.results | size }})</h2>
      {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
      <div class="flex flex-col w-full sm:flex-row gap-x-[16px] gap-y-[32px] sm:flex-wrap justify-center">
        {% for result in search.results %}
          {% if result.object_type == "product" %}
            {% assign product = result %}
            <div class="w-full max-w-[358px] sm:max-w-[316px]">
              {% include 'product_card' with product, wishlist_array %}
            </div>
          {% endif %}
        {% endfor %}
          <div class="pagination flex w-full gap-[16px] py-[27.5px] mb-[16px] justify-end">
            {{ paginate | default_pagination }}
          </div>
        {% endpaginate %}
      </div>
    {% else %}
      <h2 class="body-m-semibold text-taupe">Start your search from the searchbar</h2>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Theme Search",
    "settings": [
      {
        "type": "number",
        "label": "Number of products to show per page",
        "id": "search_pagination",
        "default": 4
      }
    ]
  }
{% endschema %}