<div class="section flex flex-col contact_us_page mb-[64px]">
  <h1 class="text-[32px] text-center py-6">{{ section.settings.title }}</h1>
  {% if section.settings.working_hours_show == true %}
    <h2 class="text-[16px] text-center py-2">{{ settings.working_hours }}</h2>
  {% endif %}
  <h2 class="text-[16px] text-center py-2">{{ section.settings.paragraph }}</h2>
  {% form 'contact' %}
    <div class="first-name">
      <input
        type="text"
        name="contact[first_name]"
        id="first-name"
        placeholder="First name" />
    </div>
    {% comment %}
    <div class="last-name">
    <label for="last-name">Last name</label>
    <input
    type="text"
    name="contact[last_name]"
    id="last-name" />
    </div>
    {% endcomment %}

    <div class="phone">
      <input
        type="tel"
        name="contact[phone]"
        id="phone"
        placeholder="Phone" />
    </div>

    <div class="email">
      <input
        type="email"
        name="contact[email]"
        id="email"
        placeholder="Email address" />
    </div>

    {% comment %}
    <div class="order-number">
    <label for="order-number">Order number</label>
    <input
    type="text"
    name="contact[order_number]"
    id="order-number" />
    </div>
    {% endcomment %}

    <div class="message">
      <textarea
        name="contact[body]"
        id="message"
        placeholder="Message"></textarea>
    </div>

    <div class="submit">
      <input type="submit" value="SEND" />
    </div>

    {{ form.errors | default_errors }}
  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Page Details",
    "settings": [
      {
        "type": "text",
        "label": "Contact us page title",
        "id": "title"
      }, {
        "type": "checkbox",
        "label": "Show working hours",
        "id": "working_hours_show",
        "default": true
      }, {
        "type": "richtext",
        "label": "Contact us page paragraph",
        "id": "paragraph"
      }
    ]
  }
{% endschema %}