<style>
  .special_offer_banner_swiper {
    background-color: {{ section.settings.background_color }};
  }
</style>
{% assign count = 0 %}{% for block in section.blocks %}{% assign count = count | plus: 1 %}{% endfor %}
<div class="special_offer_banner_swiper top-[0] left-0] py-[8px] px-[16px] flex justify-center items-center text-center {% if section.settings.display_banner != true %} hidden {% endif %}{% if count > 1 %}custom-class{% endif %}">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
          <h2 class="body-s-semibold text-taupe">{{ block.settings.banner_text }}</h2>
      </div>
  {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Special Offer Banner",
    "settings": [
      {
        "type": "checkbox",
        "label": "Display Banner",
        "id": "display_banner"
      },{
        "type": "color",
        "label": "Banner Background Color",
        "id": "background_color",
        "default": "#E2DAD5"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Special Offer",
        "settings": [
          {
            "type": "richtext",
            "label": "Banner Text",
            "id": "banner_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Special Offer Banner"
      }
    ]
  }
{% endschema %}