<div class="section blog_page">
  <div class="grid grid-cols-4">
    {% for article in blogs.journals.articles %}
      <div class="article_listing">
        {{ article.title }}

        <h2>Cotnent:<br>{{ article.content }}</h2>
        <h2>Exerpt:<br>{{ article.excerpt }}</h2>

      </div>
    {% endfor %}
  </div>
</div>