<div class="section register_page">
  <div class="w-full max-w-[396px] flex flex-col items-center mx-auto">
    <h1 class="h1 text-taupe text-center mb-[48px] pt-[24px sm:pt-[64px]">Create an account</h1>
    <div class="flex flex-col items-center justify-center">
      {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        <div class="flex flex-col gap-[16px]">
          <div class="first-name">
            <input class="input_text flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px]"
              type="text"
              name="customer[first_name]"
              placeholder="First name">
          </div>
          <div class="last-name">
            <input class="input_text flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px] text-[18px]"
              type="text"
              name="customer[last_name]"
              placeholder="Last name">
          </div>

          <div class="email">
            <input class="input_text flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px] text-[18px]"
              type="email"
              name="customer[email]"
              placeholder="Email">
          </div>

          <div class="password flex flex-col gap-[4px]">
            <input class="input_text flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px] text-[18px]"
              type="password"
              name="customer[password]"
              placeholder="Password"
              autocomplete="off">
            <h4 class="password_text text-[#8F7666] text-[16px]">Must be at least 6 characters long</h4>
          </div>

          <div class="re-password flex flex-col gap-[4px]">
            <input class="input_text flex items-center w-full bg-white border border-[#EAE2DB] rounded-[12px] px-[16px] h-[56px] text-[18px]"
              type="password"
              placeholder="Re-enter password"
              autocomplete="off">
            <h4 class="password_text text-[#8F7666] text-[16px]">Passwords must match</h4>
          </div>

          <div class="tos">
            <input
              id="tos"
              type="checkbox"
              name="tos"
              required="true">
            <label for="tos">i agree to
              <a href="#">terms</a>, and
              <a href="#">privacy policy</a>
              to create an account</label>
          </div>

          <div class="submit">
            <input
              class="flex justify-center items-center w-full bg-[#CCAC71] rounded-[18px] text-[15px] h-[56px] text-white cursor-pointer"
              type="submit"
              value="CREATE ACCOUNT">
          </div>
        </div>
      {% endform %}
      <h2 class="text-[#776255] text-[18px]">Already have an account?</h2>
      <a href="/account/login" class="underline text-[#776255] text-[18px]">Log in</a>
    </div>
  </div>
</div>

{% comment %}
<!-- Redirect customers on account creationAnchor link to section titled "Redirect customers on account creation"
By default, when a customer creates an account, they're directed to the home page. However, you can specify a page to direct customers to using the return_to parameter of the Liquid form tag. -->
{% form 'create_customer', return_to: routes.all_products_collection_url %}
<!-- form content -->
{% endform %}
{% endcomment %}