<div class="section">
  <h1 class="m-auto text-[50px] text-center">FAQs</h1>
</div>

{% schema %}
  {
    "name": "FAQ Page",
    "settings": [],
    "blocks": [
      {
        "type": "section",
        "name": "FAQ Question",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, {
            "type": "text",
            "label": "Paragraph",
            "id": "paragraph"
          }, {
            "type": "text",
            "label": "Category",
            "id": "category"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "FAQ"
      }
    ]
  }
{% endschema %}