<div class="w-full h-[500px] border border-black flex justify-center items-center">
  <h1 class="m-auto text-[50px] text-center">This is article page</h1>

</div>
<div class="section">
  <div class="article_single max-w-[867px] mx-[auto] flex flex-col">
    <h1 class="text-[36px] text-[#54443B]">{{ article.title }}</h1>
    <h2>{{ article.author }}|{{ article.published_at | date: "%b %d, %y" }}</h2>
    <div>{{ article.content }}</div>
  </div>
</div>