<div class="w-full h-[500px] border border-black flex justify-center items-center">
  <h1 class="m-auto text-[50px] text-center">This is article page</h1>

</div>
<div class="section">
  <div class="article_single">
    {{ article.author }}
    {{ article.published_at }}
  </div>
</div>