<div class="section blog_page">
  {% for article in blogs.journals.articles %}
    <div class="article_listing grid-cols-4">
      {{ article.title }}

      Cotnent:{{ article.content }}
      Exerpt:{{ article.excerpt }}

    </div>
  {% endfor %}
</div>