<style>
  .special_offer_banner {
    background-color: {{ section.settings.background_color }}
    ;
  }
</style>
<div class="special_offer_banner top-[0] left-0] py-[8px] px-[16px] flex justify-center items-center text-center {% if section.settings.display_banner != true %} hidden {% endif %}">
  <h2 class="body-s-semibold text-taupe">{{ section.settings.banner_text }}</h2>
</div>
{% schema %}
  {
    "name": "Special Offer Banner",
    "settings": [
      {
        "type": "checkbox",
        "label": "Display Banner",
        "id": "display_banner"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Special Offer",
        "settings": [
              {
            "type": "color",
            "label": "Banner Background Color",
            "id": "background_color",
            "default": "#E2DAD5"
          }, {
            "type": "richtext",
            "label": "Banner Text",
            "id": "banner_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Special Offer Banner"
      }
    ]
  }
{% endschema %}