
.no-scroll {
    overflow: hidden;
}

.section {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    @apply md:px-[64px];
}

// @media(min-width: 1440px){
//     .section {
//         padding-left: 64px;
//         padding-right: 64px;
//     }
// }

.heart_gold {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9488 9.14751C30.4963 4.13632 26.971 0.5006 22.5592 0.5006C19.6199 0.5006 16.9287 2.09202 15.4144 4.6426C13.9138 2.05902 11.3329 0.5 8.44074 0.5C4.02952 0.5 0.503641 4.13572 0.0517276 9.14691C0.0159561 9.36826 -0.130707 10.5332 0.315244 12.4329C0.957939 15.1731 2.44246 17.6655 4.60723 19.639L15.4072 29.5L26.3927 19.6396C28.5574 17.6655 30.042 15.1737 30.6846 12.4329C31.1306 10.5338 30.9839 9.36886 30.9488 9.14751ZM29.5239 12.1582C28.9372 14.6608 27.5773 16.9408 25.595 18.7476L15.4144 27.8864L5.40851 18.75C3.42259 16.9396 2.06328 14.6602 1.47603 12.1576C1.05393 10.3598 1.22742 9.34426 1.22801 9.33767L1.23696 9.27708C1.62448 4.88674 4.65373 1.69971 8.44074 1.69971C11.2351 1.69971 13.695 3.42729 14.8623 6.20762L15.4114 7.51711L15.9605 6.20762C17.1094 3.46988 19.6992 1.70031 22.5597 1.70031C26.3462 1.70031 29.376 4.88734 29.7713 9.33467C29.7725 9.34426 29.946 10.3604 29.5239 12.1582Z' fill='%23CCAC71'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px 29px; 
}

.button_arrow {
    width: 26px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.button_arrow_white {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='10' viewBox='0 0 27 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5.73485H24.2469L21.3502 8.9606L22.2835 10L26.3067 5.51976C26.4304 5.3821 26.5 5.19522 26.5 5.00006C26.5 4.80549 26.4304 4.61844 26.3067 4.48036L22.2835 0L21.3502 1.0394L24.2469 4.26515H0.5V5.73485Z' fill='white'/%3E%3C/svg%3E%0A");
}

.button_arrow_gold {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='10' viewBox='0 0 26 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5.73485H23.7469L20.8502 8.9606L21.7835 10L25.8067 5.51976C25.9304 5.3821 26 5.19522 26 5.00006C26 4.80549 25.9304 4.61844 25.8067 4.48036L21.7835 0L20.8502 1.0394L23.7469 4.26515H0V5.73485Z' fill='%23CCAC71'/%3E%3C/svg%3E%0A");
}