<div class="w-full h-[500px] flex flex-col border border-black flex justify-center items-center">
  <h1 class="m-auto text-[50px] text-center">This is 404 page</h1>
  <h1 class="m-auto text-[50px] text-center">{{ customer.id }}</h1>
  <h1 class="m-auto text-[50px] text-center">{{ customer.firstName }}</h1>

</div>