<div class="w-full border border-black flex justify-center items-center flex-col">
  <h1 class="m-auto text-[50px] text-center">This is product-collections page</h1>
  {% for collection in collections %}
    <h2 class="text-[FF0000] text-[45px]">{{ collection.title }}</h2>
    <div class="flex">
      {% for type in collection.all_types %}
        <h3 class="text-[25px]">{{ type }}</h3>
      {% endfor %}
    </div>
    {% for product in collection.products %}
      <div class="flex gap-[16px]">
        <h3 class="text-[35px]">{{ product.title }}</h3>
      </div>
    {% endfor %}
  {% endfor %}
</div>