<div class="w-full border border-black flex justify-center items-center flex-col">
  <h1 class="m-auto text-[50px] text-center">This is product-collections page</h1>
  {% for collection in collections %}
    <h2 class="text-[FF0000] text-[45px]">{{ collection.title }}</h2>
  {% endfor %}
</div>