<div class="w-full h-[500px] border border-black flex justify-center items-center">
  <h1 class="m-auto text-[50px] text-center">This is product-collections page</h1>
  {% for collection in collections %}
    <h2>{{ collection.title }}</h2>
  {% endfor %}
</div>