<div class="w-full py-[10vw] border border-black flex justify-center items-center flex-col">
  <h1 class="m-auto text-[50px] text-center">This is search page</h1>
  {% if search.performed %}
  <h2>Results:</h2>
  {% for result in search.results %}
    <h2>Object Type: {{ result.object_type }}</h2>
    <h2>Title: {{ result.title }}</h2>
  {%endfor%}
  {% else %}
  <h2>Start your search from the searchbar</h2>
{% endif %}
</div>
</div>